table{
  width: 100%;
}

#table{
  border: 1px solid black;
  margin: auto;
  width: 500px;
}

td{
  text-align: center;
  padding: 5px;
}

#newcookiestand{
  margin-left: 20px;
  margin-top: 40px;
  text-align: right;
  width: 400px;
}

#new{
  margin-left: 20px;
}