/* font-family: 'Playfair Display', serif; */
body{
  width: 100%;
}
header{
  background-color: pink;
  margin-bottom: 10px;
  text-align: center;
}

#salmon{
  margin-top: 20px;
}

h1{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 40px;
}

a{
  font-size: 20px;
}
 /*items for purchase*/

 p{
   font-weight: bold;
   margin-top: 5px;
 }

 #onlinestore1{
  text-align: center;
  position: relative;
 }

 .merchandise1{
  /* border: 1px solid black; */
  display: inline-block;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
 }

 #t-shirt{
   display: center;
   width: 250px;
 }

 #cutter{
  display: center;
  width: 250px;
}


#onlinestore2{
  text-align: center;
  position: relative;
 }

 .merchandise2{
  /* border: 1px solid black; */
  display: inline-block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
 }

 #magnets{
   display: center;
   width: 250px;
 }

 #cookies{
  display: center;
  width: 250px;
}
/* order form section */

#orderform{
  display: inline-block;
  height: 275px;
  margin-left: 100px;
}

form{
  text-align: right;
}

input, select{
  margin: 5px;
}

fieldset{
  background-color: rgb(238, 219, 222);
  border: 1px solid rgb(143, 35, 35);
  float: left;
  height: 250px;
  margin-left: 35px;
  width: 400px;
}

#paymentcard{
  border: 0;
  height: 100px;
  padding-right: 5px;
  text-align: right;
}

#expiration{
  width: 40px;
}

#cvv{
  width: 30px;
}

#placeorder{
  background-color: white;
  border: 0;
  height: 40px;
  margin-left: 518px;
}

#submit:hover{
  color: maroon;
  font-weight: bold;
}

/* locations*/

#locationSection{
  margin-top: 30px;
  position: relative;
  text-align: center;
}

h2{
  font-size: 20px;
  position: absolute;
  margin-top: 5px; 
  margin-left: 75px;
  top: 15px;
  text-align: center;
}

.locations{
  border: 1px solid black;
  display: inline-block;
  height: 130px;
  margin: 10px 10px 10px 10px;
  width: 17%;
}

.backgroundpic{
 height: 130px;
 opacity: 20%;
 position: relative;
 width: 100%;
}

.phone{
  margin-left: 50px;
  margin-top: 5px;
  position: absolute;
  top: 50px;
  text-align: center
}

.address{
  margin-left: 40px;
  margin-top: 10px;
  position: absolute;
  top: 75px;
  text-align: center;
}