/* font-family: 'Playfair Display', serif; */

html{

}

header{
  width: 100%;
  text-align: center;
}

#salmon{
  margin-top: 20px;
}

h1{
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
}

#nav{
  display: inline-block;
  margin-top: 30px;
  position: relative;
  text-align: center;
}

.pagelinks{
  background-color: salmon;
  border-radius: 25px;
  color: black;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
}

.pagelinks:hover{
  color: rgb(230, 208, 206);
  font-weight: bold;
}

.pagelinks:visited{
  text-decoration: none;
}

#onlinestore1{
  text-align: center; 
  position: relative;
  width: 100%;
 }

 .merchandise1{
  border: 1px solid black;
  display: inline-block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px; 
  text-align: left;
  width: 500px;
 }

 #t-shirt{
  float: right;
  height: 150px;
  width: 150px;
 }

 #cutter{
  float: right;
  height: 150px;
  width: 150px;
}


#onlinestore2{
  text-align: center;
  position: relative;
  width: 100%;
 }

 .merchandise2{
  border: 1px solid black;
  display: inline-block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; 
  width: 500px;
 }

 #magnets{
  float: right;
  height: 150px;
  width: 150px;
 }

 #cookies{
  float: right;
  height: 80px;
  width: 150px;
}


#container{
  border: 1px solid black;
  position: relative;
  height: 225px;
  margin-left: 580px;
  margin-right: 40px;
  margin-top: 30px; 
  width: 400px;
}


#container:hover .fadetotext{
  opacity: 90%;
}

.fadetotext{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: .5s ease;
  background-color: salmon;
}

.realfamily{
  display: block;
  width: 400px;
}

.paidactors{
  color: white;
  font-weight: bolder;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#locationSection{
  margin-top: 30px; 
  position: relative;
  text-align: center;
  width: 100%;
}

h2{
  font-size: 20px;
  position: absolute;
  margin-top: 5px; 
  margin-left: 75px;
  top: 15px;
  text-align: center;
}

.locations{
  border: 1px solid black;
  display: inline-block;
  height: 130px;
  margin: 10px 10px 10px 10px;
  width: 17%;
}

.backgroundpic{
 height: 130px;
 position: relative;
 opacity: 10%;
 width: 100%;
}

.phone{
  margin-left: 50px;
  margin-top: 5px;
  position: absolute;
  top: 50px;
  text-align: center
}

.address{
  margin-left: 40px;
  margin-top: 10px;
  position: absolute;
  top: 75px;
  text-align: center;
}

footer{
  text-align: center;
}