/* font-family: 'Playfair Display', serif; */


html{
  background-color: rgb(221, 142, 206);
}

#table{
  background-color: gray;
}

#table:hover{
  background-color: maroon;
}

tr{
  font-family: Arial, Helvetica, sans-serif;
}

a{
  font-size: 20px;
}